:root {
  --background: #fff;
  --foreground: #212121;

  /*Neutral*/
  --grey-50: #FAFAFA;
  --grey-100: #F5F5F5;
  --grey-200: #EEEEEE;
  --grey-300: #E0E0E0;
  --grey-400: #BDBDBD;
  --grey-500: #9E9E9E;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #212121;

  /*Primary*/
  --blue-50: #E3F2FD;
  --blue-100: #BBDEFB;
  --blue-200: #90CAF9;
  --blue-300: #64B5F6;
  --blue-400: #42A5F5;
  --blue-500: #2196F3;
  --blue-600: #1E88E5;
  --blue-700: #1976D2;
  --blue-800: #1565C0;
  --blue-900: #0D47A1;

  /*Secondary*/
  --green-50: #F0FDF6;
  --green-100: #DCFCEB;
  --green-200: #BCF6D8;
  --green-300: #87EEBA;
  --green-400: #4CDC94;
  --green-500: #26D07C;
  --green-600: #17A25D;
  --green-700: #167F4B;
  --green-800: #17643F;
  --green-900: #155235;

  /*Accent*/
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background:
    radial-gradient(circle at 0% 100%, var(--blue-200), transparent 40%),
    radial-gradient(circle at 25% 100%, var(--green-300), transparent 40%),
    radial-gradient(circle at 50% 100%, var(--green-300), transparent 45%),
    radial-gradient(circle at 75% 100%, var(--blue-300), transparent 45%),
    radial-gradient(circle at 100% 100%, var(--blue-200), transparent 40%);
  font-family: var(--font-dm-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  height: 54px;
  width: 100vw;
  align-items: center;
  font-size: 24px;
  padding: 8px;
  background: transparent;
}
